*{
  margin: 0;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
    text-align:center;
  }
  
  a {
    color: #242424;
    text-decoration: none;
  }
  
  em {
    color: #a5b4fc;
    font-style: normal;
  }
  
  h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #f9f8ff;
    padding: 1.5em;
  }

  section {
    padding: 80px;
    text-align: center;
  }

  p,
  li {
    font-size: 1.1em;
    color: #f9f8ff;
    text-align: justify;
  }
  
  header,
  footer {
    background-color: white;
    padding: 20px 50px 20px 50px;
  }
  
  .cta {
    margin-top: 40px;
    display: inline-block;
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .cta:hover {
    padding: auto;
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
  }
  
  .lien-icone:hover {
    opacity: 0.5;
  }
  
  .carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
  }

nav,
footer{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
}
nav a {
  margin-left: 30px;
}
.logo{
  display: flex;
  align-items: flex-start;
}

.dernier_projet {
  background-color: white;
}
.dernier_projet h2{
  padding:80px;
  color : #242424;
  text-align: center;
  margin-bottom: 80px;
}
.dernier_projet div{
  background-color: white;
  
}
  .dernier_projet div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.portfolio-section-photos{
  background-color: white;
}
.portfolio-section-photos h2{
  color: #242424;
  margin-bottom: 80px;
}

.grid_paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px
  
}
.grid_portraits{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px
}
.grid_paysages img,
.grid_portraits img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
table {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  font-family: 'Montserrat';
  Position: center;
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
th{
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #a5b4fc;
}
td,
th {
  padding: 15px;
  border: 1px solid #a5b4fc;
}

td,
tr {
  padding: 80px;
}
